<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel='shortcut icon' type="image/png" href='/img/title/icon-shop.png' />
        <title>Đăng Ký</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css" />
        <link rel="stylesheet" href="/css/style_register.css" />

    </head>

    <body style="background-image: url(/img/background/bg-signup.jpg); background-size: cover;">

        <div class="main">
            <section class="signup">

            <div class="container">
                <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    <h1 class="title">Đăng Ký</h1>

                    {{#if error}}
                    {{! alert error }}
                    <div class="alert alert-danger" style="color: red;">
                    {{error}}
                    </div>
                    {{/if}}

                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-input" name="name" id="name" placeholder="Họ Và Tên" required />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope"></i>
                        <input type="email" class="form-input" name="email" id="email" placeholder="Nhập mail" required />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-map"></i>
                        <input type="text" class="form-input" name="address" id="address" placeholder="Nhập địa chỉ" required />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <input type="text" class="form-input" name="password" id="password" placeholder="Nhập mật khẩu" required />
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>

                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-input" name="re_password" id="re_password"
                        placeholder="Xác nhận mật khẩu" required />
                        <span toggle="#re-password" class="zmdi zmdi-eye field-icon re-toggle-password"></span>
                    </div>

                    <div class="">
                        <input style="cursor: pointer;" type="submit" name="submit" id="submit" class="form-submit"
                        value="Đăng Ký" />
                    </div>
                </form>
                <p class="loginhere">
                    Đã Có Tài Khoản ?
                    <a href="/login" class="loginhere-link">Đăng Nhập</a>
                </p>
                </div>
            </div>
            </section>
        </div>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/js/main_register.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>

</html>