<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán Đơn Hàng Bằng VNPAY</title>
</head>
<body>
    <h3>Thanh Toán Bằng VNPAY</h3>
    <div class="table-responsive">
        <form id="createOrder" action="/create_payment_url" method="POST">
            <div class="form-group">
                <label for="amount">Số tiền</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Số tiền" value="{{this.price}}">
            </div>

            <div class="form-group">
                <label>Chọn Phương thức thanh toán:</label>
                <label class="control-label"></label>
                <div class="controls">
                    <label class="radio-inline">
                        <input type="radio" name="bankCode" id="defaultPaymentMethod" value="" checked="true"> Cổng thanh toán VNPAYQR
                    </label>
                    <div class="controls">
                        <label class="radio-inline">
                            <input type="radio" name="bankCode" id="vnpayqrPaymentMethod" value="VNPAYQR"> Thanh toán qua ứng dụng hỗ trợ VNPAYQR
                        </label>
                    </div>
                    <div class="controls">
                        <label class="radio-inline">
                            <input type="radio" name="bankCode" id="vnbankPaymentMethod" value="VNBANK"> Thanh toán qua ATM-Tài khoản ngân hàng nội địa
                        </label>
                    </div>
                    <div class="controls">
                        <label class="radio-inline">
                            <input type="radio" name="bankCode" id="intcardPaymentMethod" value="INTCARD"> Thanh toán qua thẻ quốc tế
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Ngôn ngữ</label>
                <label class="control-label"></label>
                <div class="controls">
                    <label class="radio-inline">
                        <input type="radio" name="language" id="vnLanguage" value="vn" checked="true"> Tiếng việt
                    </label>
                    <div class="controls">
                        <label class="radio-inline">
                            <input type="radio" name="language" id="enLanguage" value="en"> Tiếng anh
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" id="btnPopup" type="submit">Thanh toán</button>
        </form>
    </div>
    <p>&nbsp;</p>
</body>
</html>
