<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style_topic_aboutus.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>About us</title>
</head>
<body>
    <header>
        <button style="background: none; border: none;">
            <i class="fa fa-arrow-left" style="font-size: 15px; display: inline-block; margin-left: 10px; ;margin-right: 10px;"></i>
        </button>
        <p>Giới thiệu về chúng tôi</p>
    </header>
    <main>
        <p style="padding: 30px 30px 30px 30px; text-align: justify;">
            Chào mừng đến với trang web của chúng tôi - nơi chia sẻ kiến thức và kinh nghiệm về thiết kế nội thất. Chúng tôi là một nhóm các chuyên gia thiết kế 
            nội thất có kinh nghiệm và đam mê sáng tạo. Chúng tôi đến với nhau với mục đích chia sẻ những kinh nghiệm thiết kế của mình với cộng đồng, giúp mọi 
            người hoàn thiện không gian sống của mình. Trang web của chúng tôi cung cấp các bài viết, hướng dẫn thiết kế từ căn bản đến nâng cao, cùng với các ý 
            tưởng và xu hướng thiết kế nội thất mới nhất. Mục tiêu của chúng tôi là giúp các bạn tìm được sự cân bằng giữa thẩm mỹ và tính ứng dụng của thiết kế 
            nội thất, mang đến cho không gian sống của bạn sự ấm áp và tinh tế.
        </p>
    </main>
</body>
</html>