<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="/"><img src="/img/logo.png" alt="" /></a>    {{!-- Ảnh lo go--}}
          </div>
          <ul>
            <li>Địa chỉ: 227 Nguyễn Văn Cừ, P.4, Q.5, tp.Hồ Chí Minh</li>
            <li>Điện thoại: 1900 1000</li>
            <li>Email: AdminPage@example.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>Giới thiệu</h6>
          <ul>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Trở thành Designer</a></li>
            <li><a href="#">Nhà cung cấp</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Đường đi</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Tham gia với chúng tôi</h6>
          <p>Nhận thông tin sản phẩm mới nhất qua email</p>
          <form action="#">
            <input type="text" placeholder="Điền email của bản" style="font-style: italic ; color:gray"/>
            <button type="submit" class="site-btn">Đăng ký</button>
          </form>
          <div
            class="footer__widget__social"
            style="display: flex; align-items: center"
          >
            <a href="#" class="center"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="center"><i class="fab fa-instagram"></i></a>
            <a href="#" class="center"><i class="fab fa-twitter"></i></a>
            <a href="#" class="center"><i class="fab fa-telegram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
