<html lang="en">

<head>
  <link rel='shortcut icon' type="image/png" href='/img/title/icon-shop.png' />
  <title>Quên mật khẩu</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/style_login.css" />

</head>

<body style="background-image: url(/img/background/bg-login.jpg); background-size: cover;">
  <section class="ftco-section">
    <div class="container">
      <div class="login-content" style="max-width:400px">
        <form method="POST" action="/forgot-password" class="login-form">
          <h1 class="title">Quên mật khẩu</h1>
            {{#if message}}
            <div class="alert alert-success" role="alert">
              {{message}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-warning" role="alert">
              {{error}}
            </div>
            {{/if}}
                <div class="form-group">
                  <i class="fas fa-envelope"></i>
                  <input name="email" type="email" class="form-control rounded-left" placeholder="Nhập email của bạn" required />
                </div>

                <div>
                  <div>
                    <button value="Log In" type="submit" id="form-submit" class="btn btn-primary rounded submit">Gửi</button>
                  </div>
                </div>
                <div class="w-100 text-center signuphere">
                    <p class="mb-1">Không Có Tài Khoản?
                      <a href="/register">Đăng Ký</a>
                    </p>
                    <p><a href="/login">Đăng nhập</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>